<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.unalignedbyte.words">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".groups.GroupsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".words.WordsListActivity"/>
        <activity android:name=".words.RevisionActivity"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a021a108c4f7af7ac61e5074ce2ce6b5b0729c4b"/>
    </application>
</manifest>
